# Variables para ejecucion local sin Docker
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/pse

# Variables usadas por docker-compose.yml
POSTGRES_DB=pse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
API_PORT=8000
